@import "../../app.scss";

.main {
  min-height: 100vh;
  background: linear-gradient(360deg, #0c0c1d, #111132);
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  color: white;

  h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
  }

  h2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 16px;
    flex-wrap: wrap;
    span {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 8px 16px;
      border-radius: 20px;
      color: #ccc;
    }

    @include mobile {
      display: none;
    }
  }

  .works {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
      width: 48px;
      height: 48px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));

      &.left {
        left: 30px;
        transform: translateY(-50%) rotateY(180deg);
      }

      &.right {
        right: 30px;
      }

      @include mobile {
        display: none;
      }
    }

    .slider {
      height: 100%;
      display: flex;
      transition: transform 1s ease;
      position: absolute;
      left: 0;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 80%;
        height: 400px;
        background-color: #fff;
        color: #000;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        padding: 30px;
        gap: 2rem;
        transition: transform 0.4s;

        @include mobile {
          flex-direction: column;
          height: auto;
          padding: 20px;
        }

        .left {
          flex: 1.2;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .leftContainer {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h1 {
              font-size: 20px;
              color: #888;
              margin: 0;
              padding: 0;
            }

            h2 {
              font-size: 28px;
              color: #222;
              margin: 0;
              padding: 0;
            }

            p {
              font-size: 16px;
              color: #444;
              margin-top: 12px;
              line-height: 1.5;
            }
          }
        }

        .right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
